/developer_requirements.txt
/create_markdown_guide.html
Sphinx-docs/
Sphinx-docs/*
.*
**/.*
!/.gitignore
silly_test/Planet_Silly/
silly_test/Planet_Silly/*
**/Planet_Silly/
silly_test/Planet_Silly_Size/*
silly_test/silly_test_with_size.py
silly_test/loc.txt
silly_test/Planet_Funny/
__pycache__/
**/__pycache__/
**/__pycache__/*
doc_creation.txt
build/
dist/
command.txt
