pip install:
numpy==1.20.2
pandas==1.2.4
joblib==1.0.1
scipy

conda install:
rdkit==2020.09.1.0

commands:

conda install -c conda-forge rdkit==2020.09.1.0
pip install numpy==1.20.2 pandas==1.2.4 joblib==1.0.1 scikit_learn==0.20.3


notes:
rdkit may install different versions of numpy or pandas. If it does, uninstall
pandas and numpy and reinstall with correct versions.
